@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
  color: #212121;
}

.bg-black {
  background-color: #212121;
}

.chatbotClose{
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #212121; 
  height: 100px;
  width: 50px;
}

.chatbotabert{
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: #fff;
  width: 300px;
  height: 500px;
}