.descript {
  color: #fff !important;
  background-color: #3a443c;
  padding: 2%;
}

.text-green {
  color: #709276;
}

.bg-4 {
  background: linear-gradient(77.3deg, #f1f1f1 -4.64%, rgba(217, 217, 217, 0.6) 102.67%);
}

.img-config {
  width: 22%;
  height: auto;
}

.footer {
  background-color: #212121;
  margin-top: 91px;
  height: auto;
}

.footer-menu {
  width: 750px;
  height: 205px;
}

.footer-menu li {
  line-height: 30px;
}

.copyRight {
  color: #777;
}

@media screen and (max-width: 768px) {
  .img-config {
    width: 100%;
    height: auto;
  }
}
